/* Tu CSS va aqui */
/*--=============================================Header con 1 fila=====================================-*/
* {
	font-family: "Open Sans";
}

.menu{
	text-align: right
}

nav a{
   text-decoration: none;
   color: black;
}
.logo{
	width: 50% !important;
	
	
}
/*--=============================================cuerpo con 1 fila=====================================-*/
 .overflow {
	overflow: auto;
}
.container{
	padding: 50%;

}
.backgroung-gray{
	background-color: #808080;
	padding-bottom: 6%;
}
.title, .text1{
	color: white;
	padding-bottom:5%;
	
}
.text2{
	color: white;
	text-align: center;
	
}
.title{
	font-size:250%;


}

.formulario {
	box-sizing: border-box;
	width: 100%;
	background-color: #9A9A9A;
	border-radius: 10px;
	height: auto;
	margin-top: 20%;
	padding: 2% 0px;
}

.formulario input, .formulario button {
	width: 100%;
	height: 30px;
}
form {
	margin: 20px;
}

button {
	background-color: #3EB0F7;
    color: white;
}
form input {
	margin-bottom: 2%;
}

@media (max-width: 535px){
	.formulario{
		width: 100%;
		margin:0;
		padding: 0;
	}
    
.col4{
	width: 50%
	margin:0;
}
.button{
	 padding: 3% 20%;
}
}
	



/*--=============================================Footer con 1 fila=====================================-*/